fastapi
uvicorn[standard]
supabase
pandas
pydantic
pydantic-settings
PyYAML
python-dotenv
requests
python-snappy

# Monitoring with OpenTelemetry
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-prometheus-remote-write
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-requests

# Testing
pytest
httpx
pytest-mock

