fastapi
uvicorn[standard]
supabase
pandas
pydantic
pydantic-settings
PyYAML
python-dotenv
requests

# Monitoring
prometheus-client
prometheus-fastapi-instrumentator

# Testing
pytest
httpx
pytest-mock

